@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Geologica", sans-serif;
  letter-spacing: 0.5px;
}

h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.35rem;
  line-height: 1.75rem;
}

span {
  font-size: 1.15rem;
}

@layer base {
  .btn {
    @apply text-[15px] tracking-[1px] uppercase flex-1 transition-all flex justify-center items-center bg-black text-white rounded-lg p-2 hover:shadow-[0px_20px_30px_rgba(0,0,0,0.06)] hover:translate-y-[-5px] hover:bg-black hover:text-white;
  }

  .dangerBtn {
    @apply text-[15px] tracking-[1px] flex-1 transition-all flex justify-center items-center bg-red-600 text-white rounded-lg p-2;
  }
}
